<div ng-controller="ArtworksController">
  <form class="search-form">
    <input ng-model="term" id="search-box" placeholder="Search...">
    <button type="button" ng-click="search(term)"><span class="glyphicon glyphicon-search searchbar-icon"></span> Search</button>
  </form>
  <br>

  <div ng-repeat="artwork in artworks" class="search-results-container">
    <div class="search-result">
      <img src= "{{artwork.thumbnailImage}}" title="{{artwork.title}}">
      <!-- <p>{{artwork.title}}</p> -->
      <br>
      <a ng-click="addForm = !addForm">
        <div class="plus">+</div>
      </a>

      <div class="add-form" ng-show="addForm">
        <label for="mySelect">SELECT COLLECTION:</label>
        <br>
        <select name="mySelect" id="mySelect"
          ng-options="collection.title for collection in collections"
          ng-model="data.selectedOption"></select>
          <button name="button" ng-click="saveArt(artwork, data.selectedOption.id); addForm = !addForm" class="clear-btn">SAVE</button>
      </div>
    </div>
  </div>
</div>
