/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url('whitewall.jpg');
  font-family: helvetica;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
}

.collection {
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: black;
  display: inline-flex;
  margin: 1em;
  color: white;
  font-size: 2em;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
}

.search-result {
  /*border: solid red;*/
}

.search-results-container {
  justify-content: center;
  /*border: solid red;*/
  display: flex;
  margin: 1em;
}

.search-result img {
  max-width: 400px;
  max-height: 400px;
}

#search-box {
  width: 90%;
  height: 100%;
}


.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-indicators li { visibility: hidden; }

.carousel-inner img {
  margin: auto;
}

.car-img {
  max-height: 500px;
  min-height: 500px;
}

.edit-img {
  max-height: 150px;
  min-height: 150px;
}

input:focus {
    outline:none;
    border: solid white;
}
input {
    outline:none;
    border: solid white;
}

h1 {
  margin: 0;
}

.clear-btn {
  font-family: futura;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: solid black;
  cursor:pointer;
  overflow: hidden;
  outline:none;
 }

.edit-collection-artwork-container {
  display: inline-flex;
  flex-wrap: wrap;
}

.edit-collection-artwork {
  margin: 2em;
  border: solid red;
}

.text-input {
  width: 50%;
  height: 2em;
}

.plus {
  font-size: 3em;
  color: red;
  text-align: right;
  margin-top: -35px;
  padding-top: 0
}

.logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.5em;
}

.search-form {
  margin: auto;
  width: 40%;
  border: solid grey 1px;
  opacity: 0.4;
}
