<h3>search artwork</h3>
<div ng-controller="ArtworksController">
  <form>
    <input placeholder="Search" ng-model="term">
    <input type="button" class="btn" ng-click="search(term)" value="SEARCH">
  </form>

  <div ng-repeat="artwork in artworks">
    <!-- {{ artwork }} -->
    <!-- <br>
    <button name="button" ng-click="getArtwork()">GIVE ME ART!</button>
    <br> -->

    <img src= "{{artwork.thumbnailImage}}">
    <p>{{artwork.title}}</p>

    <div ng-controller="CollectionController">
      <form name="dropDownForm">
        <label for="mySelect">Select Collection:</label>
        <select name="mySelect" id="mySelect"
          ng-options="collection.title for collection track by collection.id"
          ng-model="data.selectedOption"></select>
      </form>
      <hr>
      <tt>option = {{data.selectedOption}}</tt><br/>
    </div>

    <button name="button" ng-click="saveArt(artwork, collection.collection_id)">SAVE ART</button>
  </div>
</div>
