<h3>search artwork</h3>
<div ng-controller="ArtworksController">
  <form>
    <input ng-model="term" id="search-box">
    <br>
    <input type="button" class="clear-btn" ng-click="search(term)" value="SEARCH">
  </form>

  <div ng-repeat="artwork in artworks" class="search-results-container">
    <div class="search-result">
      <img src= "{{artwork.thumbnailImage}}">
      <p>{{artwork.title}}</p>
      <br>
      <a ng-click="addForm = !addForm">
        <h1>+</h1>
      </a>

      <div class="add-form" ng-show="addForm">
        <label for="mySelect">Select Collection:</label>
        <select name="mySelect" id="mySelect"
          ng-options="collection.title for collection in collections"
          ng-model="data.selectedOption"></select>
          <button name="button" ng-click="saveArt(artwork, data.selectedOption.id); addForm = !addForm" class="clear-btn">SAVE ART</button>
      </div>
    </div>
  </div>
</div>
